<!DOCTYPE HTML>
<html>

<head>
  <title>ETF Beograd</title>
  <meta name="description" content="website description" />
  <meta name="keywords" content="website keywords, website keywords" />
  <meta http-equiv="content-type" content="text/html; charset=windows-1252" />
</head>

<body>
  <div id="main">
    <div id="header">
      <div id="logo">
        <div id="logo_text">
          <!-- class="logo_colour", allows you to change the colour of the text -->
          <h1><a href="index.html">ETF <span class="logo_colour">Beograd</span></a></h1>
          <h2>Katedra za računarsku tehniku i informatiku</h2>
        </div>
      </div>
      <div id="menubar" *ngIf='gost'>
        <ul id="menu">
          <!-- put class="selected" in the li tag for the selected page - to highlight which page you're on -->
          <li><a routerLink='/login'>Početna</a></li>
          <li class="selected"><a routerLink='/zaposleni'>Zaposleni</a></li>
          <li><a routerLink='/obavestenja'>Obaveštenja</a></li>
          <li><a routerLink='/osnovne'>Osnovne studije</a></li>
          <li><a routerLink='/master'>Master studije</a></li>
          <li><a routerLink='/projekti'>Projekti</a></li>
          <li><a routerLink='/nauka'>Nauka</a></li>
          <li><a routerLink='/kontakt'>Kontakt</a></li>
        </ul>
      </div>
      <div id="menubar" *ngIf='student'>
        <ul id="menu">
          <!-- put class="selected" in the li tag for the selected page - to highlight which page you're on -->
          <li><a routerLink='/student'>Početna</a></li>
          <li class="selected"><a routerLink='/zaposleni'>Zaposleni</a></li>
          <li><a routerLink='/obavestenja'>Obaveštenja</a></li>
          <li><a routerLink='/osnovne'>Osnovne studije</a></li>
          <li><a routerLink='/master'>Master studije</a></li>
          <li><a routerLink='/projekti'>Projekti</a></li>
          <li><a routerLink='/nauka'>Nauka</a></li>
          <li><a routerLink='/kontakt'>Kontakt</a></li>
        </ul>
      </div>
    </div>
    <div id="content_header"></div>
    <div id="site_content">
      <div id = "banner">
       
      </div>
	  <div id="sidebar_container">

      <div class="sidebar" *ngIf='student'>
        <div class="sidebar_top"></div> 
        <div class="sidebar_item">
        <h3>Izlogujte se: </h3>
       <form>
         
           <input class="submit" type="submit" name="logout" value="Logout" (click)='logout()'/>
      
       </form>
          
        </div>
        <div class="sidebar_base"></div>
      </div> 

      <div class="sidebar">
        <div class="sidebar_top"></div> 
        <div class="sidebar_item">
         <a routerLink='/zaposleni'><h3>Nazad na listu zaposlenih</h3></a>
        </div>
        <div class="sidebar_base"></div>
      </div> 

        <div class="sidebar" *ngIf='gost'>
          <div class="sidebar_top"></div>
          <div class="sidebar_item">
            <!-- insert your sidebar items here -->
           
            <h4>Na ovom linku se možete registrovati kao novi korisnik</h4>
            
            <a routerLink='/registracija'> <h3>Registracija</h3></a>
          </div>
          <div class="sidebar_base"></div>
        </div>
        <div class="sidebar">
          <div class="sidebar_top"></div>
          <div class="sidebar_item">
            <h3>Korisni linkovi</h3>
            <ul>
              <li><a href="http://rti.etf.bg.ac.rs/">RTI</a></li>
              <li><a href="https://www.etf.bg.ac.rs/">ETF</a></li>
              <li><a href="http://rti.etf.bg.ac.rs/rti/ir4pia/">PIA</a></li>
            </ul>
          </div>
          <div class="sidebar_base"></div>
        </div>
        
      </div>
      <div id="content">

        <div *ngIf="zap">
          <h1>Podaci o zaposlenom</h1>

          <div *ngIf="zap.ime"><h3>Ime: {{zap.ime}}</h3></div>
          <div *ngIf="zap.prezime"><h3>Prezime: {{zap.prezime}}</h3></div>
          <div *ngIf="zap.adresa"><h3>Adresa: {{zap.adresa}}</h3></div>
          <div *ngIf="zap.telefon"><h3>Telefon: {{zap.telefon}}</h3></div>
          <div *ngIf="zap.vebsajt"><h3>Veb sajt: <a>{{zap.vebsajt}}</a></h3></div> 
          <div *ngIf="zap.podaci"><h3>Podaci: {{zap.podaci}}</h3></div> 
          <div *ngIf="zap.zvanje"> <h3>Zvanje: {{zap.zvanje}}</h3></div> 
          <div *ngIf="zap.kabinet"><h3>Kabinet:{{zap.kabinet}}</h3></div> 
          <div *ngIf="zap.status"><h3>Status: {{zap.status}}</h3></div> 
          <div *ngIf="zap.slika"><h3>Slika:</h3></div> 
        </div>
      </div>
    </div>
    <div id="content_footer"></div>
    <div id="footer">

      <p>Elektrotehnički fakultet u Beogradu &copy; 2021 </p>
    </div>
  </div>
</body>
</html>

