<!DOCTYPE HTML>
<html>

<head>
  <title>ETF Beograd</title>
  <meta name="description" content="website description" />
  <meta name="keywords" content="website keywords, website keywords" />
  <meta http-equiv="content-type" content="text/html; charset=windows-1252" />
</head>

<body>
  <div id="main">
    <div id="header">
      <div id="logo">
        <div id="logo_text">
          <!-- class="logo_colour", allows you to change the colour of the text -->
          <h1><a href="index.html">ETF <span class="logo_colour">Beograd</span></a></h1>
          <h2>Katedra za računarsku tehniku i informatiku</h2>
        </div>
      </div>
      <div id="menubar">
        <ul id="menu">
          <!-- put class="selected" in the li tag for the selected page - to highlight which page you're on -->
          <li class="selected"><a routerLink='/login'>Početna</a></li>
          <li><a routerLink='/zaposleni'>Zaposleni</a></li>
          <li><a routerLink='/obavestenja'>Obaveštenja</a></li>
          <li><a routerLink='/osnovne'>Osnovne studije</a></li>
          <li><a routerLink='/master'>Master studije</a></li>
          <li><a routerLink='/projekti'>Projekti</a></li>
          <li><a routerLink='/nauka'>Nauka</a></li>
          <li><a routerLink='/kontakt'>Kontakt</a></li>
        </ul>
      </div>
    </div>
    <div id="content_header"></div>
    <div id="site_content">
      <div>
        image slider
      </div>
	  <div id="sidebar_container">
        <div class="sidebar">
          <div class="sidebar_top"></div>
          <div class="sidebar_item">
            <!-- insert your sidebar items here -->

            <h4>Na ovom linku se možete registrovati kao novi korisnik</h4>

            <a routerLink='/registracija'> <h3>Registracija</h3></a>
          </div>
          <div class="sidebar_base"></div>
        </div>
        <div class="sidebar">
          <div class="sidebar_top"></div>
          <div class="sidebar_item">
            <h3>Korisni linkovi</h3>
            <ul>
              <li><a href="http://rti.etf.bg.ac.rs/">RTI</a></li>
              <li><a href="https://www.etf.bg.ac.rs/">ETF</a></li>
              <li><a href="http://rti.etf.bg.ac.rs/rti/ir4pia/">PIA</a></li>
            </ul>
          </div>
          <div class="sidebar_base"></div>
        </div>

      </div>
      <div id="content">

       <h1>Ulogujte se: </h1>
       <form >
        <div class="form_settings">
          <p><span>Korisnicko ime: </span>

              <input  type="text"  name="username" [(ngModel)]='username'  class = "form-control" required #korime="ngModel"/>

          </p>
          <p><span>Lozinka: </span>
            <input type="password" name="password" [(ngModel)]='password'  class = "form-control" required #loz="ngModel"/>
          </p>
          <p style="padding-top: 15px">
            <span>&nbsp;</span>
            <input class="submit" type="submit"  value="Login" (click)='login()'/>
          </p>

          <div *ngIf="korime.errors?.['required'] && (korime.dirty || korime.touched)">
            Unesite korisnicko ime
          </div>

          <div *ngIf="loz.errors?.['required'] && (loz.dirty || loz.touched)">
            Unesite lozinku
          </div>

          <div *ngIf="poruka">
           {{poruka}}
          </div>


        </div>
      </form>


      <h1>O katedri </h1>
      <p>
          Katedra se bavi razvojem softvera, arhitekturom računara, sistemskim softverom, informacionim tehnologijama,
           internet tehnologijama i drugim oblastima elektrotehnike. Na drugoj godini se rade objektno orijentisano programiranje,
           algoritmi i strukture podataka, osnove arhitekture računara i osnove operativnih sistema.
           Treća godina pruža širi pogled na svet računarstva i bavi se bazama podataka, sistemskim programiranjem, konkurentnim programiranjem,
           računarskim mrežama i naprednim arhitekturama računara. Na četvrtoj godini je fokus na specijalizaciji znanja. Neke od oblasti
           kojima se bavimo su mikroprocesorski sistemi, programski prevodioci, projektovanje softvera, performanse računarskih sistema,
           internet programiranje, računarska grafika, zaštita podataka ...

      </p>
      <p>
          Studiranje na RTI katedri donosi najmodernije znanje iz relevantnih računarskih oblasti. Praktično znanje se stiče kroz
          domaće zadatke, laboratorijske vežbe, projekte i diplomske radove. Katedra ima 30 godina tradicije u nastavi računarstva i
          preko 25 nastavnika i saradnika koji prate svetske trendove.
      </p>

      </div>
    </div>
    <div id="content_footer"></div>
    <div id="footer">

      <p>Elektrotehnički fakultet u Beogradu &copy; 2021 </p>
    </div>
  </div>
</body>
</html>
