<!DOCTYPE HTML>
<html>

<head>
  <title>ETF Beograd</title>
  <meta name="description" content="website description" />
  <meta name="keywords" content="website keywords, website keywords" />
  <meta http-equiv="content-type" content="text/html; charset=windows-1252" />
</head>

<body>
  <div id="main">
    <div id="header">
      <div id="logo">
        <div id="logo_text">
          <!-- class="logo_colour", allows you to change the colour of the text -->
          <h1><a href="index.html">ETF <span class="logo_colour">Beograd</span></a></h1>
          <h2>Katedra za računarsku tehniku i informatiku</h2>
        </div>
      </div>
      <div id="menubar" *ngIf='gost'>
        <ul id="menu">
          <!-- put class="selected" in the li tag for the selected page - to highlight which page you're on -->
          <li><a routerLink='/login'>Početna</a></li>
          <li><a routerLink='/zaposleni'>Zaposleni</a></li>
          <li><a routerLink='/obavestenja'>Obaveštenja</a></li>
          <li><a routerLink='/osnovne'>Osnovne studije</a></li>
          <li class="selected"><a routerLink='/master'>Master studije</a></li>
          <li><a routerLink='/projekti'>Projekti</a></li>
          <li><a routerLink='/nauka'>Nauka</a></li>
          <li><a routerLink='/kontakt'>Kontakt</a></li>
        </ul>
      </div>
      <div id="menubar" *ngIf='student'>
        <ul id="menu">
          <!-- put class="selected" in the li tag for the selected page - to highlight which page you're on -->
          <li><a routerLink='/student'>Početna</a></li>
          <li><a routerLink='/zaposleni'>Zaposleni</a></li>
          <li><a routerLink='/obavestenja'>Obaveštenja</a></li>
          <li><a routerLink='/osnovne'>Osnovne studije</a></li>
          <li class="selected"><a routerLink='/master'>Master studije</a></li>
          <li><a routerLink='/projekti'>Projekti</a></li>
          <li><a routerLink='/nauka'>Nauka</a></li>
          <li><a routerLink='/kontakt'>Kontakt</a></li>
        </ul>
      </div>
    </div>
    <div id="content_header"></div>
    <div id="site_content">
      <div id="banner"></div>
	  <div id="sidebar_container">

      <div class="sidebar" *ngIf='student'>
        <div class="sidebar_top"></div> 
        <div class="sidebar_item">
        <h3>Izlogujte se: </h3>
       <form>
         
           <input class="submit" type="submit" name="logout" value="Logout" (click)='logout()'/>
      
       </form>
          
        </div>
        <div class="sidebar_base"></div>
      </div> 

      <div class="sidebar" *ngIf='gost'>
        <div class="sidebar_top"></div>
        <div class="sidebar_item">
          <!-- insert your sidebar items here -->
         
          <h4>Na ovom linku se možete registrovati kao novi korisnik</h4>
          
          <a routerLink='/registracija'> <h3>Registracija</h3></a>
        </div>
        <div class="sidebar_base"></div>
      </div>
      <div class="sidebar">
        <div class="sidebar_top"></div> 
        <div class="sidebar_item">
          <h3>Korisni linkovi</h3>
          <ul>
            <li><a href="http://rti.etf.bg.ac.rs/">RTI</a></li>
            <li><a href="https://www.etf.bg.ac.rs/">ETF</a></li>
            <li><a href="http://rti.etf.bg.ac.rs/rti/ir4pia/">PIA</a></li>
          </ul>
        </div>
        <div class="sidebar_base"></div>
      </div>
        
      </div>
      <div id="content">
       <h1>Master akademske studije</h1>
       <hr>
       <p>
         Master akademske studije na Elektrotehnčkom fakultetu Univerziteta u Beogradu traju dva semestra i nose 60 ESPB bodova.
         Ukupan broj bodova potreban za sticanje akademskog naziva master inženjer je 300 ESPB, pa se na ove studije mogu upisati samo 
         kandidati koji su na osnovnim akademskim studijama stekli 240 ESPB i to na Elektrotehnčkom ili nekom drugom srodnom fakultetu. 
       </p>
       <p>Po završetku master akademskih studija na Elektrotehnčkom fakultetu u Beogradu, na studijskom programu Elektrotehnika i 
         računarstvo stiče se akademski naziv master inženjer elektrotehnike i računarstva.
       </p>
       <p>
         U okviru master akademskih studija polažu se predmeti koji nose ukupno 30 ESPB. Preostalih 30 ESPB se odnosi na stručnu praksu 
         (3 ESPB), studijski istraživački rad (14 ESPB) i master rad (13 ESPB).
       </p>
       <h2>Prvi semestar</h2>
        <h3>Grupa A - Uže stručni predmeti</h3>
        Sistemi otporni na otkaze<br/>
        Računrstvo u bio-medicini <br/>
        Programiranje ugrađenih sistema <br/>
        Zaštita računraskih sistema i mreža<br/>
        <h3>Grupa B</h3>
        Modelovanje i projektvanje softvera<br/>
        Inteligentni servisi i sistemi<br/>
        Odabrana poglavlja iz računarskih mreža<br/><br/><br/>
        <hr>
       <h2>Drugi semestar</h2>
       <h3>Grupa A - Uže stručni predmeti</h3>
       Sociološki i profesionalni aspketi računarstva<br/>
       Programiranje u realnom vremenu<br/>
       Projektovanje računarskih mreža<br/>
       Programski prevodioci 2<br/>
       Genomska informatika<br/>
       Pronalaženje skrivenog znanja<br/>
       Zaštita računarskih sistema i mreža <br/>
       <h3>Grupa B</h3>
       Primenjeno paralelno programiranje<br/>
       Alati za programiranje baza podataka<br/>
       Projektovanje informacionih sistema 1<br/>
       Paralelizam u arhitekturi računara i programskim prevodiocima<br/>
       Interaktivna računarska grafika<br/>
       Napredne arhitekture i organizacije računara<br/>
       Multimedijalni sistemi<br/>
       Stručna praksa<br/>
       Završni rad - SIR (istraživanje)<br/>
       Završni rad - izrada i odbrana<br/>
      </div>
    </div>
    <div id="content_footer"></div>
    <div id="footer">

      <p>Elektrotehnički fakultet u Beogradu &copy; 2021 </p>
    </div>
  </div>
</body>
</html>


